<h1>My app</h1>
<p *ngIf="true">card works!</p>
<ul>
  <li (click)="remover(i)" *ngFor="let produto of produtos; let i = index">
    {{ i }} - {{ produto }}
  </li>
  <button (click)="adicionar()">Remover</button>
</ul>
<div [ngSwitch]="menuType">
  <div *ngSwitchDefault>
    <li>editar perfil</li>
    <li>adicionar cartao</li>
  </div>
  <div *ngSwitchCase="'admin'">
    <li>editar perfil</li>
    <li>adicionar cartao</li>
    <li>gerenciar usuarios</li>
  </div>
  <div *ngSwitchCase="'superUser'">
    <li>editar perfil</li>
    <li>adicionar cartao</li>
    <li>gerenciar usuarios</li>
    <li>gerenciar admins</li>
  </div>
</div>
